<div class="header">
    <p>Recent plays</p>
    <h5>See all</h5>
</div>
<div class="main">
    <app-recent-card [img_Url] = 'img_Url' [songName] = 'songName' [artists] = 'artists'></app-recent-card>
    <app-recent-card [img_Url] = 'img_Url' [songName] = 'songName' [artists] = 'artists'></app-recent-card>
    <app-recent-card [img_Url] = 'img_Url' [songName] = 'songName' [artists] = 'artists'></app-recent-card>
    <app-recent-card [img_Url] = 'img_Url' [songName] = 'songName' [artists] = 'artists'></app-recent-card>
    <app-recent-card [img_Url] = 'img_Url' [songName] = 'songName' [artists] = 'artists'></app-recent-card>
    <app-recent-card [img_Url] = 'img_Url' [songName] = 'songName' [artists] = 'artists'></app-recent-card>
</div>
<div class="middle">
    <div class="trending">
        <p>Trending</p>
    </div>
    <div class="top-playList">
        <div class="top">
            <p>Recent plays</p>
            <h5>See all</h5>
        </div>
        <div class="top-card">
            <app-top-playlist-card></app-top-playlist-card>
            <app-top-playlist-card></app-top-playlist-card>
            <app-top-playlist-card></app-top-playlist-card>
        </div>
    </div>
</div>