<div class="header">
    <h1>Arkar's Music</h1>
</div>
<div class="middle">
    <ul>
        <li>
            <a href="#" routerLink="/">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="#" routerLink="/genres">
                <mat-icon>dashboard</mat-icon>
                <span>Genres</span>
            </a>
        </li>
        <li>
            <a href="#" routerLink="/artists">
                <mat-icon>people</mat-icon>
                <span>Artists</span>
            </a>
        </li>
        <li>
            <a href="#" routerLink="/albums">
                <mat-icon>library_music</mat-icon>
                <span>Albums</span>
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#" routerLink="/favourites">
                <mat-icon>favorite</mat-icon>
                <span>Favourites</span>
            </a>
        </li>
        <li>
            <a href="#" routerLink="/recently-plays">
                <mat-icon>audio_file</mat-icon>
                <span>Recently Plays</span>
            </a>
        </li>
    </ul>
</div>
<div class="playlist">
    <h4>PlayLists</h4>
    <mat-icon color="primary">add_box</mat-icon>
</div>
